<div id="simplemaps"></div>

{% schema %}
{
  "name": "Simple Maps",
  "tag": "section",
  "class": "slideshow",
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Slideshow"
    }
  ],
  
  "presets": [
    {
      "name": "Simple Maps"
    }
  ]
}
{% endschema %}